{
    "rules": {
      "no-console": "off",
      "indent": [ "error", 2 ],
      "quotes": [ "error", "single" ],
    //   "semi": ["always"]
    //   "semi": ["error", "always"],
    //   "linebreak-style": [ "warn", "unix" ]
    },
    "env": {
      "es6": true,
      "node": true,
      "mocha": true,
      "jasmine": true
    },
    "ecmaFeatures": {
      "modules": true,
      "experimentalObjectRestSpread": true,
      "impliedStrict": true
    },
    "extends": "eslint:recommended"
  }